{% extends "base.html" %}
{% load bootstrap3 widget_tweaks %}
{% block content %}
    <form action="{% url "regions.views.add" %}" method="post">
        {% csrf_token %}
        <div class="input-group">
            {% render_field form.name placeholder=form.name.label class="form-control" %}
            <div class="input-group-btn">
                <button type="submit" class="btn btn-default pull-right">Add</button>

            </div>
        </div>

        <textarea hidden name="north_east" id="north_east" cols="30" rows="10">
            {{ form.north_east.value }}</textarea>
        <textarea hidden name="south_west" id="south_west" cols="30" rows="10">
            {{ form.south_west.value }}</textarea>
        <textarea hidden name="polygon" id="polygon" cols="30" rows="10">{{ form.polygon.value }}</textarea>

    </form>
    <div class="clearfix"></div>
    <div id="map-canvas" style="width: 100%; height: 400px;">
    </div>

    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script>

        function initialize() {
            var mapOptions = {
                zoom: 9
            };
            var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

            // init region
            var rectangle = new google.maps.Rectangle({
                editable: true,
                draggable: true,
                map: map
            });

            // listener for region bounds changing
            google.maps.event.addListener(rectangle, 'bounds_changed', function () {
                var bounds = rectangle.getBounds();
                var north_east = bounds.getNorthEast();
                var south_west = bounds.getSouthWest();

                // set POLYGON top left point
                var value = ['POINT (', north_east.lng(), ' ', north_east.lat(), ')'].join('');
                $("#north_east").html(value);

                // set POLYGON bottom right point
                value = ['POINT (', south_west.lng(), ' ', south_west.lat(), ')'].join('');
                $("#south_west").html(value);

                // generate POLYGON path
                value = ['POLYGON ((',
                    north_east.lng(), north_east.lat(), ',',
                    north_east.lng(), south_west.lat(), ',',
                    south_west.lng(), south_west.lat(), ',',
                    south_west.lng(), north_east.lat(), ',',
                    north_east.lng(), north_east.lat(),
                    '))'].join(' ');
                $("#polygon").html(value);
            });

            // define init user position as and move map there
            navigator.geolocation.getCurrentPosition(function (position) {
                var latlng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
                map.setCenter(latlng);

                var bounds;
                {% if north_east and south_west %}
                    bounds = new google.maps.LatLngBounds(
                            new google.maps.LatLng({{ south_west.y }}, {{ south_west.x }}),
                            new google.maps.LatLng({{ north_east.y }}, {{ north_east.x }})
                    );
                {% else %}
                    bounds = new google.maps.LatLngBounds(
                            new google.maps.LatLng(position.coords.latitude - 0.1, position.coords.longitude - 0.1),
                            new google.maps.LatLng(position.coords.latitude + 0.1, position.coords.longitude + 0.1)
                    );
                {% endif %}
                map.setCenter(bounds.getCenter());

                rectangle.setBounds(bounds);
            });

        }

        google.maps.event.addDomListener(window, 'load', initialize);

    </script>
{% endblock %}