{% extends "base.html" %}
{% block content %}
    Wait a bit, we try to define your location...
    <script>
        navigator.geolocation.getCurrentPosition(function (position) {
            {#            var lat = getUrlParameter("lat");#}
            {#            var lng = getUrlParameter("lng");#}

            var new_location = [
                window.location.origin, '?',
                'lat=', position.coords.latitude, '&',
                'lng=', position.coords.longitude
            ].join("");
            console.log(new_location);
            window.location = new_location;
        });
    </script>
{% endblock %}